@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@layer base {
    h1 {
        @apply text-4xl font-bold my-2;
    }
    h2 {
        @apply text-3xl font-semibold my-2;
    }
}
